<div class="card">
  <div class="card-block">
    <h4>
      <a href="/location/{{ location._id }}">Valhalla Coffee</a>
      <small>&nbsp;
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </small><span class="badge badge-pill badge-default float-right">102m</span>
    </h4>
    <p class="address">경기 안성시 도기1길 98</p>
    <div class="facilities"><span class="badge badge-warning">Hot drinks</span><span
        class="badge badge-warning">Food</span><span class="badge badge-warning">Premium wifi</span></div>
  </div>
</div>