extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title 
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message

      app-home-list
                
    .col-12.col-md-4 
      p.lead= sidebar

block scripts
  script(src='/build/main.00f484674dad29f83ff8.js')
  script(src='/build/polyfills.c964ff7d0a3bf49729d4.js')
  script(src='/build/runtime.436863258d237bc9b76a.js')